.loginBox{
    height:600px;
    width:440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.loginBox .form-container{
    background: #1B1A1A;
    border-radius: 31px;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loginBox .form-container .container-login{
    width: 100%;
    height: 100%;
}
