.dashboard-main-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top : 0px;
    left: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.dashboard-main-container .header{
    position: absolute !important;
    width: 100%;
    height: 50px;
}

.dashboard-main-container .body{
    position: absolute !important;
    top: 50px;
    left: 0px;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard-main-container .body .welcomeUser{
    width: 85%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard-main-container .body .containerFragments{
    width: 85%;
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
    border : 2px solid red
}

.dashboard-main-container .body .containerFragments .transactionPie{
    width: 30%;
    
    border : 1px solid rgba(0, 0, 0, 0.2)
}

.dashboard-main-container .body .containerFragments .exampleLorem{ 
    width: 320px;
    height: 650px;
    border : 1px solid rgba(0, 0, 0, 0.2)
    
}

.dashboard-main-container .body .containerFragments .table{
    width: 30%;
    height: 200px;
    border : 1px solid rgba(0, 0, 0, 0.2)
}
